* {
  margin: 0;
  padding: 0;
}

body {
  background: #1f2833;
  color: white;
  font-family: 'Poppins', sans-serif;
  
}

h1 {
  font-family: 'Duru Sans', sans-serif;
  font-weight: 700;
  color: #66fcf1;
  padding: 40px 0px 0px 0px;
}

thead {
  border-top: 3px solid #66fcf1;
  border-bottom: 3px solid #66fcf1;
}