* {
  margin: 0;
  padding: 0;
}

body {
  background: #1f2833;
  color: white;
  font-family: 'Poppins', sans-serif;
  
}

h1 {
  font-family: 'Duru Sans', sans-serif;
  font-weight: 700;
  /* color: #66fcf1; */
  padding: 40px 0px 0px 0px;
}

#title-1 {
  color: #fff44f;
}

#title-2 {
  color: #fff44f;
}

.instructions {
  margin-bottom: 20px;
}

.fa {
  color: white;
}

input {
  color: white;
}

main {
  margin-top: 40px;
}

thead {
  /* border-top: 3px solid #66fcf1; */
  /* border-bottom: 3px solid #66fcf1; */
  border-top: 3px solid #00dbff;
  border-bottom: 3px solid #00dbff;
}