* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  color: #1f2833;
  font-family: 'Poppins', sans-serif;
  /* position: relative; */
}

/* Header */
header {
  margin-top: 0;
  background: #10c8cd;
  color: white;
  padding-top: 5px;
  /* top: 0; */
}

h1 {
  font-family: 'Duru Sans', sans-serif;
  font-weight: 700;
  padding: 40px 0px 0px 0px;
  color: #fcf158;
}

.instructions {
  padding-bottom: 20px;
}

/* SearchBar */
#searchContainer {
  background: #10c8cd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

#searchInput {
  width: 350px;
}

.fa {
  color: white;
}

input {
  color: white;
}

/* EmployeeTable */
main {
  margin-top: 40px;
}

thead {
  border-bottom: 3px solid #10c8cd
}